.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgrey;
    width: 50%;
    margin: 0 auto;
    padding: 25px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #009dff;
    width: 100px;
    height: 45px;
    border-radius: 5px;
}